discord
spotify
lazygit
dconf
thefuck/__pycache__
user-dirs.locale
user-dirs.dirs
keepassxc
QtProject.conf
btop
Microsoft Office
autostart
teams
Raspberry Pi
zsh/.zcompdump
Microsoft/Microsoft Teams
draw.io
libreoffice/4/user
