/*
* Variant: Rosé Pine
* Maintainer: DankChoir
*/

@define-color base            #191724;
@define-color surface         #1f1d2e;
@define-color overlay         #26233a;

@define-color muted           #6e6a86;
@define-color subtle          #908caa;
@define-color text            #e0def4;

@define-color love            #eb6f92;
@define-color gold            #f6c177;
@define-color rose            #ebbcba;
@define-color pine            #31748f;
@define-color foam            #9ccfd8;
@define-color iris            #c4a7e7;

@define-color highlightLow    #21202e;
@define-color highlightMed    #403d52;
@define-color highlightHigh   #524f67;
* {
  opacity: 0.9;
  border: 1px outset @overlay;
  border-radius: 15%;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
  background: @base;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #f6f7fc;
}

tooltip {
  background: #1e1e2e;
  opacity: 0.8;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

tooltip label {
  color: #cdd6f4;
}

#workspaces button {
  padding: 5px;
  color: #f6f7fc;
  margin-right: 5px;
}

#workspaces button.active {
  color: #000000;
  background: #a6e3a1;
  border-radius: 10px;
}

#workspaces button:hover {
  background: #11111b;
  color: #cdd6f4;
  border-radius: 10px;
}

#custom-launch_wofi,
#custom-launch_floorp,
#custom-launch_webcord,
#custom-launch_spotify,
#custom-launch_thunderbird,
#custom-launch_thunar,
#custom-launch_kitty,
#custom-lock_screen,
#custom-light_dark,
#custom-power_btn,
#custom-power_profile,
#custom-weather,
#custom-myhyprv,
#window,
#cpu,
#disk,
#custom-updates,
#memory,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#temperature,
#workspaces,
#idle_inhibitor,
#backlight {
  opacity: 1;
  padding: 0px 8px;
  margin: 0px 3px;
  border: 0px;
  color: @text;
}

#workspaces {
  padding-right: 0px;
  padding-left: 5px;
}

#window {
  border-radius: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

#custom-launch_floorp,
#custom-launch_webcord,
#custom-launch_spotify,
#custom-launch_thunderbird,
#custom-launch_thunar,
#custom-launch_wofi,
#custom-launch_kitty,
#custom-weather {
  margin-left: 5px;
  border-right: 0px;
  font-size: 24px;
  margin-right: 10px;
  color: @text;
}

#custom-launch_floorp,
#custom-launch_kitty {
  font-size: 20px;
}

#memory {
  color: @foam;
}

#cpu {
  color: @rose;
}

#temperature {
  color: @love;
}

#battery {
  color: @gold;
}
